@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.fixed__message{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius:50%;
  background-color: #1b5bf7;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px 1px black;
}
.fixed__message svg{
position: absolute;
top: 35%;
left: 30%;
}
.fixed__message:hover{
  cursor: pointer;
  transform: scale(1.1);
}